body {
  font-family: sans-serif;
}
.container {
  width: 80vw;
  margin: auto;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  padding: 0 15px;
}

/* TABLET */
@media (min-width: 768px) {
  .col {
    flex: 1;
  }
  .double-col {
    flex: 2;
  }
}
